# .gitignore
server/config/tradenest-afc77-firebase-adminsdk-fbsvc-8bbc10858f.json

.env
.env.*

node_modules/

frontend/BaseUrl.js
frontend/firebaseConfig.js

server/uploads
server/firebaseAdminConfig.js

.DS_Store

*.log